@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="column-layout master-view-container">
    <div class="row-layout group">
        <IgbNavDrawer Open="true" Position="NavDrawerPosition.Relative" class="nav-drawer" master_view-scope>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/input_group"))">
                <div slot="content">Input group</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/other_inputs"))">
                <div slot="content">Other inputs</div>
            </IgbNavDrawerItem>
        </IgbNavDrawer>
        <div class="view-container">
            @Body
        </div>
    </div>
</div>

@code {

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
