.column-layout {
  display: flex;
  flex-direction: column;
}
.master-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 320px;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
}
.nav-drawer::part(main) {
  width: 320px;
}
