<div class="column-layout group">
  <p class="text">
    Type Text
  </p>
  <igx-input-group type="border" class="user-input">
    <input type="text" [(ngModel)]="textVar" igxInput [ngModelOptions]="{updateOn: 'blur'}" />
    <label igxLabel>With blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="text" [(ngModel)]="textVar" igxInput />
    <label igxLabel>No blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="text" [value]="textVar" igxInput (change)="textInputChange($event)" />
    <label igxLabel>Text</label>
  </igx-input-group>
</div>
<div class="column-layout group">
  <p class="text">
    Type Numeric
  </p>
  <igx-input-group type="border" class="user-input">
    <input type="number" [(ngModel)]="numberVar" igxInput [ngModelOptions]="{updateOn: 'blur'}" />
    <label igxLabel>With blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="number" [(ngModel)]="numberVar" igxInput />
    <label igxLabel>No blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="number" [value]="numberVar" igxInput (change)="numberInputChange($event)" />
    <label igxLabel>Numeric</label>
  </igx-input-group>
</div>
<div class="column-layout group">
  <p class="text">
    Type Email
  </p>
  <igx-input-group type="border" class="user-input">
    <input type="email" [(ngModel)]="email" igxInput [ngModelOptions]="{updateOn: 'blur'}" />
    <label igxLabel>With blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="email" [(ngModel)]="email" igxInput />
    <label igxLabel>No blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="email" [value]="email" igxInput (change)="emailInputChange($event)" />
    <label igxLabel>Email</label>
  </igx-input-group>
</div>
<div class="column-layout group">
  <p class="text">
    Type Password
  </p>
  <igx-input-group type="border" class="user-input">
    <input type="password" [(ngModel)]="password" igxInput [ngModelOptions]="{updateOn: 'blur'}" />
    <label igxLabel>With blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="password" [(ngModel)]="password" igxInput />
    <label igxLabel>No blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="password" [value]="password" igxInput (change)="passwordInputChange($event)" />
    <label igxLabel>Password</label>
  </igx-input-group>
</div>
<div class="column-layout group">
  <p class="text">
    Type Phone
  </p>
  <igx-input-group type="border" class="user-input">
    <input type="tel" [(ngModel)]="phone" igxInput [ngModelOptions]="{updateOn: 'blur'}" />
    <label igxLabel>With blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="tel" [(ngModel)]="phone" igxInput />
    <label igxLabel>No blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="tel" [value]="phone" igxInput (change)="phoneInputChange($event)" />
    <label igxLabel>Phone</label>
  </igx-input-group>
</div>
<div class="column-layout group">
  <p class="text">
    Type Date
  </p>
  <igx-input-group type="border" class="user-input">
    <label igxLabel>With blur not working</label>
    <input type="text" igxInput igxDateTimeEditor [(ngModel)]="date" [ngModelOptions]="{updateOn: 'blur'}" />
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <label igxLabel>No blur</label>
    <input igxInput igxDateTimeEditor [(ngModel)]="date" />
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <label igxLabel>Date</label>
    <input type="text" igxInput igxDateTimeEditor [value]="date ?? ''" (change)="dateInputChange($event)" />
  </igx-input-group>
  <p>Added just for testing</p>
  <button igxButton (click)="buttonSetDate()">Set date</button>
  {{ date | date:'shortDate' }}
</div>
<div class="column-layout group">
  <p class="text">
    Textarea
  </p>
  <igx-input-group type="border" class="user-input">
    <textarea></textarea>
    <input [(ngModel)]="textarea" igxInput [ngModelOptions]="{updateOn: 'blur'}" />
    <label igxLabel>With blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input [(ngModel)]="textarea" igxInput />
    <label igxLabel>No blur</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input [value]="textarea" igxInput (change)="textareaChange($event)" />
    <label igxLabel>Password</label>
  </igx-input-group>
</div>
